<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

    <f:layout name="Content" />

    <f:section name="Configuration">
        <flux:form id="teufelsCptCntBsCollapsible" label="TYPO3 :: Bootstrap :: Collapsible (Accordion)" description="Sortable Bootstrap Accordion." options="{group: 'teufels', icon: '{f:uri.resource(path: \'Icons/icon-teufels-64x64-in-use.png\')}'}">
            <flux:form.section name="acc" label="Accordion">
                <flux:form.object name="accelement" label="Accordion Element">
                    <flux:field.input name="title" label="Element Titel"/>
                    <flux:field.checkbox name="disable" label="Element nicht anzeigen" />
                    <flux:field.checkbox name="in" label="Element aufklappen" />
                </flux:form.object>
            </flux:form.section>
            <flux:grid>
                <f:for each="{acc}" as="sectionObject" iteration="iteration" key="index">
                    <flux:grid.row>
                        <flux:grid.column name="containerBootstrapAccordionElement_{index}" label="Content for: {sectionObject.accelement.title}" />
                    </flux:grid.row>
                </f:for>
            </flux:grid>
        </flux:form>
    </f:section>



    <f:section name="Preview">
        <div class="bs-callout bs-callout-warning callout callout-warning t-callout t-callout-warning">
            <h4>Bootstrap Collapsible</h4>
            <p>Simple Accordion with collapsible panels.</p>
        </div>
        <!-- uncomment this to use a grid for nested content elements -->
        <flux:widget.grid />
    </f:section>



    <f:section name="Main">

        <v:variable.set name="sClassOuter" value="{v:variable.typoscript(path: 'plugin.tx_teufels_cpt_cnt_bs_collapsible.settings.production.bootstrapCollapsible.sClassOuter')}" />
        <v:variable.set name="sClassInner" value="{v:variable.typoscript(path: 'plugin.tx_teufels_cpt_cnt_bs_collapsible.settings.production.bootstrapCollapsible.sClassInner')}" />
        <v:variable.set name="sContainerElement" value="{v:variable.typoscript(path: 'plugin.tx_teufels_cpt_cnt_bs_collapsible.settings.production.bootstrapCollapsible.sContainerElement')}" />


        <f:if condition="{sContainerElement} == 'div'">
            <f:then>
                <f:render section="HtmlDiv"
                          arguments="{acc: '{acc}', record: '{record}', sClassOuter: '{sClassOuter}', sClassInner: '{sClassInner}', sContainerElement: '{sContainerElement}'}" />
            </f:then>
        </f:if>

        <f:if condition="{sContainerElement} == 'section'">
            <f:then>
                <f:render section="HtmlSection"
                          arguments="{acc: '{acc}', record: '{record}', sClassOuter: '{sClassOuter}', sClassInner: '{sClassInner}', sContainerElement: '{sContainerElement}'}" />
            </f:then>
        </f:if>

        <f:if condition="{sContainerElement} == 'article'">
            <f:then>
                <f:render section="HtmlArticle"
                          arguments="{acc: '{acc}', record: '{record}', sClassOuter: '{sClassOuter}', sClassInner: '{sClassInner}', sContainerElement: '{sContainerElement}'}" />
            </f:then>
        </f:if>

    </f:section>



    <f:section name="HtmlSection">
        <section class="panel-group accordion {sClassOuter}" id="accordion_{record.uid}">
            <f:render section="ForEachPanel"
                      arguments="{acc: '{acc}', record: '{record}', sClassOuter: '{sClassOuter}', sClassInner: '{sClassInner}', sContainerElement: '{sContainerElement}'}" />
        </section>
    </f:section>

    <f:section name="HtmlArticle">
        <article class="panel-group accordion {sClassOuter}" id="accordion_{record.uid}">
            <f:render section="ForEachPanel"
                      arguments="{acc: '{acc}', record: '{record}', sClassOuter: '{sClassOuter}', sClassInner: '{sClassInner}', sContainerElement: '{sContainerElement}'}" />
        </article>
    </f:section>

    <f:section name="HtmlDiv">
        <div class="panel-group accordion {sClassOuter}" id="accordion_{record.uid}">
            <f:render section="ForEachPanel"
                      arguments="{acc: '{acc}', record: '{record}', sClassOuter: '{sClassOuter}', sClassInner: '{sClassInner}', sContainerElement: '{sContainerElement}'}" />
        </div>
    </f:section>



    <f:section name="ForEachPanel">

            <f:for each="{acc}" as="sectionObject" iteration="iteration" key="index">
                <f:if condition="{sectionObject.accelement.disable}">
                    <f:then></f:then>
                    <f:else>
                        <!-- accordion Element [BEGIN]-->
                        <div class="panel panel-default {sClassInner}">
                            <div class="panel-heading">
                                <v:variable.set name="collapsed" value=" collapsed"/>
                                <v:variable.set name="icon-chevron-up" value=""/>
                                <f:if condition="{sectionObject.accelement.in}">
                                    <v:variable.set name="collapsed" value=""/>
                                    <v:variable.set name="icon-chevron-up" value=" icon-chevron-up"/>
                                </f:if>
                                <h4 class="panel-title">
                                    <a class="{f:if(condition: '{sectionObject.accelement.in}', then: '', else: 'collapsed')}" data-toggle="collapse" data-parent="#accordion_{record.uid}" href="#collapse_{record.uid}_{index}">
                                        {sectionObject.accelement.title}
                                        <i class="icon-chevron-down{icon-chevron-up}"></i>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse_{record.uid}_{index}" class="panel-collapse collapse {f:if(condition: '{sectionObject.accelement.in}', then: 'in')}">
                                <div class="panel-body">
                                    <flux:content.render area="containerBootstrapAccordionElement_{index}" />
                                </div>
                            </div>
                        </div>
                        <!-- accordion Element [END]-->
                    </f:else>
                </f:if>
            </f:for>


    </f:section>

</div>